node_modules
next-pyon/node_modules
next-pyon/.next
.git
.gitignore
.github
.husky
.env
.env.local
.env.*.local
dist
.DS_Store
Dockerfile
dev.Dockerfile
prod.Dockerfile
compose.dev.yaml
compose.prod.yaml
README.md
docs
.vscode
.idea
*.log
.cache
coverage
